.mat-card-image {
   width: 182px;
   height: 268px;
   margin: auto;
   display: block;
}

h1.full-width.main-div.ng-star-inserted {
   padding: 20px; 
}

.quebrar-linha {
   white-space: pre-line; 
}